{% extends 'base.html' %}
{% block body %}

<h1>세부 내용을 알려드립니다.</h1><br><br>
<div class="card">
    <div class="card-body">
        <h1>{{details.title}}</h1>
        <p>{{details.pub_date}}</p>
        <p>{{details.body | linebreaksbr}}</p>
    </div>
</div>


<form action="{% url 'comment_add' details.id %}" method="POST">
    {% csrf_token %}
    내용 : <input type="text" name="body">
    <input type="submit" value="제출">
</form>


{% for comment in details.comments.all %}
{{comment.user.username}} : {{comment.body}}
{% if comment.user == request.user%}
<a href="{% url 'comment_edit' comment.id %}">편집</a>
<a href="javascript:{document.getElementById('delete').submit()}">삭제</a>
{% csrf_token %} <input type="hidden" />
</form>
{% endif %}
<br>

{% endfor %}



{% endblock %}